// $colour-accent: #52c4b1;

// $colour-primary: #081538;

// $colour-grey-light: #e5e5e5;
// $colour-grey: #d5d5d5;
// $colour-grey-dark: #868686;

// $colour-black: #000;
// $colour-white: #fff;

// $colour-background: #ffdb58;

$colour-accent: #fed3c2;

$colour-primary-dark: #6a41ec;

$colour-primary: #682b60;

$colour-grey-light: #f1f1f1;
$colour-grey: #d5d5d5;
$colour-grey-dark: #868686;

$colour-black: #1a1a1a;
$colour-white: #fffefd;

$colour-background: #ffdb58;

// txt:
// wht: fffefd;
// light grey: f1f1f1
// light pink: fed3c2;
// dark pink: 682b60
// purple: 6a41ec
