$colour-primary-dark: #6a41ec;
$colour-primary: #682b60;

$colour-accent: #fed3c2;

$colour-grey-light: #f1f1f1;
$colour-grey: #d5d5d5;
$colour-grey-dark: #868686;

$colour-black: #1a1a1a;
$colour-white: #fffefd;
